@import "../../styles/core.scss";

.Button {
  outline: none;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  line-height: 49px;
  text-align: center;
  font-size: 14px;
  font-weight: $weight-semibold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s $easing-inQuad;

  &.loading {
    pointer-events: none;
    cursor: auto;
  }
  &:disabled {
    cursor: auto;
  }

  .Icon {
    margin: 0 auto;
  }
}

// Sizes
.button {
  &-small {
    height: 32px;
    line-height: 36px;
    min-width: 100px;
    letter-spacing: 1px;
  }
  &-big {
    min-width: 230px;
  }
}

// Colors
.button {
  &-primary {
    color: white;
    background-color: $colors-primary;
    &:hover {
      background-color: darken($colors-primary, 3);
    }
  }
  &-update {
    color: $colors-grey-aluminium;
    background-color: $colors-grey-mischka;
    &:hover {
      background-color: darken($colors-grey-mischka, 3);
    }
  }
  &-alert {
    color: white;
    background-color: $colors-red-strawberry;
    &:hover {
      background-color: darken($colors-red-strawberry, 3);
    }
  }
  &-disabled {
    opacity: 0.5;
    cursor: auto;
    color: $colors-grey-aluminium;
    background-color: $colors-grey-mischka;
  }
  &-dark {
    color: white;
    background-color: $colors-blue-spruce;
    &:hover {
      background-color: darken($colors-blue-spruce, 3);
    }
  }
}
