@import "../../styles/core.scss";

// Colors
main {
  min-height: 100vh;
}

.layout-light {
  background-color: $colors-grey-lighter;
}

.LayoutBanner {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.LayoutBanner-banner {
  position: relative;
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: $global-padding;
  background-color: $colors-text;
  background-size: cover;
}

.LayoutBanner-quote {
  text-align: center;
  color: white;
  animation: fadeIn 0.5s $easing-inQuad;

  h3 {
    font-family: $font-secondary;
  }

  hr {
    width: 12px;
    height: 2px;
    background-color: $colors-primary;
  }
}

.LayoutBanner-content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes fadeIn {
  from {
    transform: translate3d(0,50%,0);
    opacity: 0;
  }
  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}