@import "../../styles/core.scss";

.Account-Dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 15px;

  ul {
    position: relative;
    min-width: 115px;
    padding: 6px 0;
    background-color: white;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    &:after {
      content: "";
      position: absolute;
      top: -20px;
      right: 15px;
      width: 28px;
      height: 28px;
      background-image: url("/static/triangle.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  li {
    list-style: none;
    padding: 5px 20px;
  }
  a {
    color: $colors-grey-chateau;
    display: block;
    &:hover {
      color: $colors-text;
    }
  }
}

.Account {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  .Avatar {
    will-change: transform, opacity;
    animation: popIn 0.5s $easing-inOutExpo;
  }
}

.Account-button {
  margin: 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:after {
    content: "";
    margin-left: 8px;
    width: 10px;
    height: 10px;

    background-image: url("/static/icon/icon-dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &:hover {
    color: $colors-blue-spruce;
    &:after {
      background-image: url("/static/icon/icon-dropdown-dark.svg");
    }
  }

  @include media($breakpoint-mobile) {
    p {
      display: none;
    }
    &:after {
      margin-left: 0;
    }
  }
}
