@import '../../styles/core.scss';

.TextInput {
  margin-top: 25px;
  min-height: 59px;
  text-align: left;
}

.TextInput_wrap {
  display: flex;
  width: 100%;
  transition: border 0.2s $easing-inQuad;
  border-bottom: 1px solid $colors-grey-geyser;
  //margin: 35px 0;

  &.isFocus {
    border-bottom-color: $colors-dark;
  }
  &.hasContent {
    .TextInput-label {
      font-size: 13px;
      transform: translate3d(0, -80%, 0 );
    }
  }

  // Error Value
  &.invalid {
    border-bottom-color: $colors-alert;
  }
}


.TextInput-alert {
  color: $colors-alert;
}

.TextInput-label {
  will-change: transform;
  color: $colors-text-light;
  height: 33px;
  line-height: 33px;
  z-index: 1;
  position: absolute;
  transition: all 0.2s $easing-inOutExpo;
}

.TextInput-input {
  outline: none;
  position: relative;
  z-index: 2;
  border: 0;
  background-color: transparent;
  height: 33px;
  line-height: 33px;
  width: 100%;

  &[type="password"] {
    letter-spacing: 3px;
  }
}