@import "../../styles/core.scss";

.ListItem {
  position: relative;
  background: white;
  padding: 25px 32px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
  color: $colors-blue-spruce;
  text-align: left;
  h6 {
    margin-bottom: 0;
  }

  @include media($breakpoint-tablet-ls) {
    padding: 20px;
    h6 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .ListItem-owner {
      display: none;
    }

    .Button {
      //position: absolute;
      // bottom: 13px;
      // right: 32px;
    }
  }
}

.ListItem-event {
  //border: 1px solid;
  width: 100%;
}


.ListItem-wrap {
  width: 50%;
  & > * {
    width: 50%;
  }
  @include media($breakpoint-tablet-ls) {
    width: 100%;
    & > * {
      width: 100%;
    }
  }
}

.ListItem-info {
  width: 50%;
  .Button {
    margin-left: 60px;
  }
  @include media($breakpoint-tablet-ls) {
    margin-top: 15px;
    //border: 1px solid red;
    width: 100%;

    .ListItem-date {
      width: 100%;
    }
  }
}

.ListItem-desc {
  color: $colors-grey-regent;
  font-size: 16px;
}

.ListItem-owner {
  color: $colors-brown-boulder;
  font-size: 14px;
}

.ListItem-date {
  color: $colors-grey-iron;
  font-size: 14px;
}

.ListItem-attendees {
  font-size: 14px;
  color: $colors-grey-iron;
}
