@import "../../styles/core.scss";

.Header {
  padding: 39px 0; //30px 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  color: $colors-grey-regent;

  .container {
    max-width: 1380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include media($breakpoint-mobile) {
    .Header-msg {
      display: none;
    }
  }
}

.Header-msg {
  font-size: 14px;
  color: $colors-text-light;
  a {
    color: $colors-grey-regent;
    font-weight: $weight-semibold;
    &:hover {
      color: $colors-blue-spruce;
    }
  }
}

.Header-button {
  border: 1px solid red;
  color: $colors-blue-spruce;
  font-weight: $weight-semibold;
  font-size: $font-size-small;
  line-height: $font-size-small;
  text-transform: uppercase;
}

.Logo {
  width: 29px;
  height: 29px;
  background-image: url("/static/logo-dark.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  &.light {
    background-image: url("/static/logo.svg");
    @include media($breakpoint-tablet) {
      background-image: url("/static/logo-dark.svg");
    }
  }
}
