@import "../../styles/core.scss";


.ProfileHeader {
  text-align: center;

  .card {
    padding-top: 83px;
  }
  .Avatar {
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);
  }
}



.ProfileHeader-email {
  font-size: $font-size-small;
}