@import "../../styles//core.scss";

.EventCard {
  background-color: white;
  padding: 32px;
  height: 320px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
  color: $colors-grey-regent;
  text-align: left;
  transition: box-shadow 0.5s $easing-inOutBack;

  h5 {
    color: $colors-blue-spruce;
  }

  &:hover {
    box-shadow: 0 5px 6px rgba(0,0,0,0.05),
    0 5px 20px rgba(0,0,0,0.05);
  }
}

.EventCard-date {
  font-size: 14px;
  color: $colors-grey-iron;
}

.EventCard-Link {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 15px;
  //justify-content: space-around;
}

.EventCard-about {
  margin-top: 15px;
  p {
    font-size: 14px;
    color: $colors-brown-boulder;
  }
}

.EventCard-desc {
  max-width: 223px;
  margin-top: 15px;
  color: $colors-grey-regent;
}

.EventCard-attendees span {
  padding: 3px 0 0 8px;
  color: $colors-grey-regent;
  font-size: 14px;
}

.EventCard-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Big Size
.EventCard.big {
  height: auto;
  h5 {
    font-size: 45px;
  }
  .EventCard-desc  {
    max-width: 80%;
  }
}

