@import "../../styles//core.scss";

.EventCard {
  background-color: white;
  //width: 390px;
  min-height: 296px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
  color: $colors-grey-regent;

  h5 {
    color: $colors-blue-spruce;
  }
}

.EventCard-date {
  font-size: 14px;
  color: $colors-grey-iron;
}

.EventCard-Link {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.EventCard-about {
  p {
    font-size: 14px;
    color: $colors-brown-boulder;
  }
}

.EventCard-desc {
  max-width: 223px;
  color: $colors-grey-regent;
}

.EventCard-attendees span {
  padding: 3px 0 0 8px;
  color: $colors-grey-regent;
  font-size: 14px;
}

.EventCard-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Big Size
.EventCard.big {
  h5 {
    font-size: 45px;
  }
  .EventCard-desc  {
    max-width: 80%;
  }
}
