footer,
header,
section {
  float: left;
  width: 100%;
  position: relative;
  padding: $global-padding 0;
}

.row {
  @extend %clearfix;
  float: left;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.container {
  // @extend %clearfix;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 60px;
  @media (max-width: $breakpoint-desktop) {
    padding: 0 60px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 0 30px;
    max-width: none;
  }
  @media (max-width: $breakpoint-mobile) {
    padding: 0 20px;
  }
}

.card {
  width: 100%;
  padding: 32px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
}


.form-wrapper {
  max-width: 530px;
  width: 100%;
  margin-top: 45px;
  padding: 30px;


  .Button {
    margin-top: 30px;
  }

  .Header-nonauth {
    display: none;
  }

  .form-inputs {
    margin-top: 50px;
  }

  @include media($breakpoint-mobile) {
    margin-top: 0;

    .Header-nonauth {
      display: block;
    }
  }
}