@import "../../styles/core.scss";

.ActionButton {
  outline: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $colors-blue-spruce;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.10);
  transition: transform 0.2s $easing-inOutBack;
  &:hover {
    transform: scale(1.05);
  }
}
