@import "../../styles/core.scss";

.Avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colors-grey-mischka;
  color: $colors-grey-regent;
  font-weight: $weight-medium;
  padding-top: 2px;

  &.big {
    width: 120px;
    height: 120px;
    font-size: 3rem;
  }
}



