// -- Text
$colors-text: #323c46;
$colors-text-light: #c9ced3;

// -- Bg
$colors-body-background: #f9f9fb;

// -- States
$colors-primary: #22d486;
$colors-alert: #ff4081;
$colors-dark: #323c46;

// News

// Grey Pattern
$colors-grey-geyser: #dae1e7;
$colors-grey-regent: #949ea8;
$colors-grey-mischka: #d9dce1;
$colors-grey-chateau: #9ca5af;
$colors-grey-aluminium: #a9aeb4;
$colors-grey-iron: #cacdd0;

// Blue
$colors-blue-spruce: #323c46;

// Brown
$colors-brown-boulder: #7d7878;

// Red
$colors-red-strawberry: #ff4081;
