// // -- Black
// $colors-black: hsl(0, 0%, 4%) !default;

// // -- Grey
// $colors-grey-dark: rgb(22, 22, 22); // #414141 !default;
// $colors-grey: #757575 !default;
// $colors-grey-light: #f6f6f6 !default;
// $colors-grey-lighter: hsl(0, 0%, 86%) !default;

// // -- Red
// $colors-red: #ec1e32;

// // -- Defaults
// $colors-primary: $colors-red !default;
// $colors-secondary: #c0392b !default;

// // -- Text colors
// $colors-text: $colors-grey !default;
// $colors-text-light: $colors-grey-light !default;
// $colors-text-strong: $colors-grey-dark !default;

// // -- Body Colors
// $colors-body-background: hsl(0, 0%, 96%) !default;
// $colors-body: $colors-grey-dark !default;

// // -- Extras
// $colors-hr: $colors-grey-lighter !default;
// $colors-shadow: $colors-grey-lighter !default;

// // -- Colors Links
// $colors-link: $colors-grey !default;
// $colors-strong: $colors-grey-dark !default;
// $colors-link-hover: $colors-grey-dark !default;
// $colors-input-focus: $colors-primary !default;

// // -- Buttons Colors
// $colors-button-background: #2c3e50;
// $colors-button-text: #ecf0f1;

// -- Text
$colors-text: #323c46;
$colors-text-light: #c9ced3;

// -- Bg
$colors-body-background: #f9f9fb;

// -- States
$colors-primary: #22d486;
$colors-alert: #ff4081;
$colors-dark: #323c46;

// -- Grey

$colors-grey-lighter: #f9f9fb;
$colors-grey-light: #dae1e7;
$colors-grey: #949ea8;

// News

// Grey Pattern
$colors-grey-regent: #949ea8;
$colors-grey-mischka: #d9dce1;
$colors-grey-chateau: #9ca5af;
$colors-grey-aluminium: #a9aeb4;
$colors-grey-iron: #cacdd0;

// Blue
$colors-blue-spruce: #323c46;

// Brown
$colors-brown-boulder: #7d7878;

// Red
$colors-red-strawberry: #ff4081;
