// -- Breakpoints
$breakpoint-fullhd: 1384px;
$breakpoint-widescreen: 1192px;
$breakpoint-desktop: 1000px;
$breakpoint-tablet-ls: 1050px;
$breakpoint-tablet: 750px;
$breakpoint-mobile: 400px;
$breakpoint-phablet: 550px;

// -- Font Weights
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// -- Body
$body-font-weight: $weight-normal;
$body-font-size: 16px !default;
$body-line-height: 23px !default;

// -- Font
$font-size-default: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;


// -- Typography
$font-primary: "Hind", sans-serif;
$font-secondary: "Playfair Display", serif;

// -- Globals
$global-radius: 80px !default;
$global-padding: 1rem !default;
$global-speed: 86ms !default;
