@import "../../styles/core.scss";


.Banner {
  overflow: hidden;
  position: relative;
  width: 47%;
  max-width: 480px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 80px $global-padding;
  background-color: $colors-text;
  background-size: cover;

  @include media($breakpoint-tablet) {
    display: none;
  }
}

.Banner-quote {
  max-width: 350px;
  text-align: center;
  color: white;
  animation: fadeIn 0.5s $easing-inQuad;

  h3 {
    font-family: $font-secondary;
  }
  p {
    color: $colors-grey-regent;
  }

  hr {
    width: 12px;
    height: 2px;
    background-color: $colors-primary;
  }
}

.Banner-content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes fadeIn {
  from {
    transform: translate3d(0,50%,0);
    opacity: 0;
  }
  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}