%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}
.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}