%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}